@{
    ViewBag.Title = "AddWeathers";
}
<h2>AddWeathers</h2>

<!DOCTYPE html>
<html>
<head>
    <link href="/Content/index-style.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/203cccc5eb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="card" style="background-color: aliceblue; width:1000px; height:500px; margin:100px auto auto auto;">

        <form class="input-group flex-nowrap mt-2" onsubmit="return false" style="margin:50px auto 30px auto">
            <input class="form-control cityName" />
        </form>
        <button id="weather_save">저장</button>

        <div id="card-body" style="margin: 50px auto auto auto; width:500px; height:300px; display:flex; justify-content:center;">
            <div id="weather-img" style="margin-right: 50px;">
                <img id="weather-img" src="~/Content/Images/smog-solid.svg" />
                <div id="weather"></div>
            </div>
            <div id="weather-info" style="margin-left:50px;">
                <div id="temp"></div>
                <div id="temp-min"></div>
                <div id="temp-max"></div>
                <div id="temp-feel"></div>
                <div id="wind"></div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>