@model IEnumerable<WeatherApplication.Models.Weather>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>현재 날씨는?</title>
    <link href="~/Content/index-style.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="card">

        <form class="input-group flex-nowrap mt-2" onsubmit="return false">
            <input class="form-control cityName" />
        </form>

        <div id="card-body">
            <div id="weather-img">
                <img src="#" alt="이미지 들어올 자리" />
                <div id="weather"></div>
            </div>
            <div id="weather-info">
                <div id="temp">현재 온도 : </div>
                <div id="temp-min">최저 온도 : </div>
                <div id="temp-max">최고 온도 : </div>
                <div id="temp-feel">체감 온도 : </div>
                <div id="wind">풍속 : </div>
            </div>
        </div>
    </div>



    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>