@model IEnumerable<WeatherApplication.Models.Weather>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link href="/Content/index-style.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/203cccc5eb.js" crossorigin="anonymous"></script>
</head>
<body style=" background-color: #99CCFF;">
    <div id="card">
        <h3 id="info">날씨 조회를 원하시는 도시명을 입력해주세요.</h3>
        <form class="input-group flex-nowrap mt-2" onsubmit="return false" style="margin:50px auto 30px auto">
            <input class="form-control cityName" id="cityName-input" />
        </form>
        <button class="form-control" id="weather_save">조회 기록 저장</button>

        <div id="card-body">
            <div id="weather-img">
                <img id="weather-image" src="~/Content/Images/rain.svg" />
                <div id="weather"></div>
            </div>
            <div id="weather-info" style="margin-left:50px;">
                <div id="temp"></div>
                <div id="temp-min"></div>
                <div id="temp-max"></div>
                <div id="temp-feel"></div>
                <div id="wind"></div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>