@model IEnumerable<WeatherApplication.Models.Weather>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link href="/Content/index-style.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/203cccc5eb.js" crossorigin="anonymous"></script>
</head>
<body style=" background-color: #99CCFF; ">
    <div id="card" style="background-color: aliceblue; width:1000px; height:500px; margin:180px auto auto auto; border-radius:20px;">
        <form class="input-group flex-nowrap mt-2" onsubmit="return false" style="margin:50px auto 30px auto">
            <input class="form-control cityName" style="border-radius:5px;" />
        </form>
        <button class="form-control" id="weather_save" style="display: none; width: 120px; margin: auto; border-radius: 5px;">조회 기록 저장</button>

        <div id="card-body" style="margin: 50px auto auto auto; width:500px; height:300px; display:flex; justify-content:center;">
            <div id="weather-img" style="margin:20px 50px 0px 0px;">
                <img id="weather-image" src="~/Content/Images/rain.svg"/>
                <div id="weather"></div>
            </div>
            <div id="weather-info" style="margin-left:50px;">
                <div id="temp"></div>
                <div id="temp-min"></div>
                <div id="temp-max"></div>
                <div id="temp-feel"></div>
                <div id="wind"></div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>